USE [TuryBusOLTP]
GO
/****** Object:  Table [dbo].[HorasViaje]    Script Date: 9/28/2024 3:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorasViaje](
	[DNI_Pasajero] [varchar](10) NOT NULL,
	[HorasTotales] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI_Pasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HorasViaje]  WITH CHECK ADD FOREIGN KEY([DNI_Pasajero])
REFERENCES [dbo].[Pasajero] ([DNI])
GO
